/* general styling of the blog */

body {
    margin-left: 10%;
    margin-right: 10%;
} 

strong {
    font-size: xx-large;
}

/* Styling header */

.navbar-item {
    margin-left: 5%;

}

.navbar-text.text-muted.navbar-item.is-size-6{
    margin-left: auto;
    padding-top: 9%;
    padding-right: 2%;
}

.image-container {
    align-self: center;
}

.author {
    font-weight: bolder;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.478);
}

.card {
    color: aliceblue;
}
.card-img-top {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h2 {
    font-weight: bolder;
    font-size: larger;
    color: #4a4a4a;
    text-transform: uppercase;
    margin-left: 2%;
}

p.card-text {
    color: black;
    margin-left: 2%;
}

.has-text-centered {

    color: #4a4a4a;
    font-weight: bolder;
    font-size: larger;
}

/* Login styling */

#signup_header {
    background-color: #4a4a4a;
    color: aliceblue;
}
.signup_text {
    color: aliceblue;
}

.container_login {
    border-style: double;
    padding-block: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Register styling */

.container_register {
    border-style: double;
    padding-block: 15px;
    padding-left: 10px;
    padding-right: 10px;

}


.register_text {
    color: aliceblue;
    background-color: #4a4a4a;
}

/* Logout styling */

.container_logout {
    border-style: double;
    padding-block: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.logout_text {
    background-color: #4a4a4a;
    color: aliceblue;
}

/* Footer styling */

.footer_style {
    background-color: #fff;
    height: 6rem !important;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06) !important;
    padding-top: 15px;
    padding-bottom: 15px;
}

.text_footer {
    font-size: medium;
    font-weight: lighter;
}