body {
    background-color: #F9FAFC;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #B9BDC1;
}

.red-o {
    color: #be5633;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #B9BDC1;
}

.dark-bg {
    background-color: #1a1a1a;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #070707b8;
    border-radius: 30px;
}

.author {
    color: #F9FAFC;
    margin: 4px;
    text-transform: uppercase;
    font-size: small;
    
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #070707;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}



.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #be5633;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #060707;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #090505;
    color: #fff;
}

.link {
    color: #be5633;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #be5633;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #be5633;
    background: transparent;
    border: none;
}
