{% load static %}

<!DOCTYPE html>
<html class="h-100">

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Find it Berlin</title>
        <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.2/css/bulma.min.css">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="[ '/workspace/finditberlin/node_modules/jquery/dist/jquery.js'/]"></script>
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <style>
            nav.navbar {
                height: 6rem !important;
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06) !important;
            }
        </style>

    </head>

    <body>
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <strong class="blog-title-fercha">Findit! BERLIN</strong>
                </a>
                <span class="navbar-burger burger" data-target="navbarMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </div>

            <div id="navbarMenu" class="navbar-menu">
                

                    <a href="{% url 'home' %}" class="navbar-item is-active is-size-6 has-text-weight-light">
                        Home
                    </a>
                    <a href="{% url 'account_logout' %}" class="navbar-item is-size-6 has-text-weight-light">
                       Logout
                    </a>
                    <a href="{% url 'account_signup' %}" class="navbar-item is-size-6 has-text-weight-light">
                        Register
                     </a>
                     <a href="{% url 'account_login' %}" class="navbar-item is-size-6 has-text-weight-light">
                        Login
                     </a>
                     <!-- 
                     <a href="templates/maps.html" class="navbar-item is-size-6 has-text-weight-light">
                        Map
                     </a>
                     

                     <span class="navbar-text text-muted navbar-item is-size-6">
                        Follow the best streetart around berlin!
                    </span>
                    -->
    
                </div>
            </div>
        </div>
    </nav>

    <section class="section">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </section>



    <footer class="footer_style">
        <div class="content has-text-centered">
            <p class="text_footer">
               ║ Created by FerchaPombo ║  Follow me : 
                <a class="btn btn-floating m-1" href="https://www.instagram.com/ferchapombo" target="_blank" role="button" aria-label="Instagram Link"><i class="fa-brands fa-instagram" style="color: #4a4a4a;"></i></a>
                <a class="btn btn-floating" href="https://github.com/FerchaPombo" target="_blank" role="button" aria-label="GitHub Link"><i class="fa-brands fa-github" style="color: #4a4a4a;"></i></a>


            </p>
        </div>
    </footer>
<!-- link to the map api -->
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAC2jmjjz6VRs6V6VZKCBmvk7WR8ZL3FUo"></script> -->

</body>
</html>


