{% load static %}
{% url 'home' as home_url %}
{% url 'about' as about_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html class="h-100">
<head>
    <title>Find it Berlin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Jquery-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    
    <!--Googlefonts-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css" integrity="sha384-BY+fdrpOd3gfeRvTSMT+VUZmA728cfF9Z2G42xpaRkUGu2i3DyzpTURDo5A6CaLK" crossorigin="anonymous">
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <script src="https://kit.fontawesome.com/231b2e80f0.js" crossorigin="anonymous"></script>
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!--Bulma Blog Theme-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.2/css/bulma.min.css">
    <!--Custom Css-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block extra_js %}
    {% endblock %}
    
    <style>
        nav.navbar {
            height: 6rem !important;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06) !important;
        }
    </style>

</head>

<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <strong class="blog-title-fercha">Findit! BERLIN</strong>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users_dashboard' %}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'favourite_list' %}">Favourites</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Profile
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        {% if user.profile.id %}
                        <li><a class="dropdown-item" href="{% url 'profile_page' user.profile.id %}">Profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'edit_profile' %}">Edit Profile</a></li>
                        {% else %}
                        <li><a class="dropdown-item" href="{% url 'profile_create' %}">Create Profile</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <form class="d-flex" role="search" method="POST" action="{% url 'search_bar' %}">
                        {% csrf_token %}
                        <input class="form-control me-2" type="search" placeholder="Search for any word!" aria-label="Search" name="searched">
                        <button class="btn btn-outile right btn-outline-dark btn-sm" type="submit">Search</button>
                    </form>
                </li>
            </ul>
            <span class="navbar-text text-muted">
                Follow the best street art around Berlin!
            </span>
        </div>
    </div>
</nav>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            {% for message in messages %}
            <div class="alert {{message.tags }} alert-dismissable fade show" id="msg" role="alert">
            {{ message | safe }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<main class="flex-shrink-0 main-bg">

    {% block content %}
    
    {% endblock content %}
</main>
    <!-- JS -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/scrollspy.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/script.js"></script>
</body>
<footer class="footer_style mt-5">
    <div class="content has-text-centered">
        <p class="text_footer">
           ║ Created by FerchaPombo ║  Follow me : 
            <a class="btn btn-floating m-1" href="https://www.instagram.com/ferchapombo" target="_blank" role="button" aria-label="Instagram Link"><i class="fa-brands fa-instagram" style="color: #4a4a4a;"></i></a>
            <a class="btn btn-floating" href="https://github.com/FerchaPombo" target="_blank" role="button" aria-label="GitHub Link"><i class="fa-brands fa-github" style="color: #4a4a4a;"></i></a>
            <a class="btn btn-floating" href="https://www.linkedin.com/in/fpombo/" target="_blank" role="button" aria-label="Linkedin"><i class="fa-brands fa-linkedin-in" style="color: #4a4a4a;"></i></a>
        </p>
    </div>

</footer>
<script>
    document.addEventListener('DOMContentLoaded', function () {

        // Get the navbar burger element
        var navbarBurger = document.querySelector('.navbar-burger');

        // Get the target navbar menu
        var target = navbarBurger.dataset.target;
        var navbarMenu = document.getElementById(target);

        // Toggle the "is-active" class on click
        navbarBurger.addEventListener('click', function () {
            navbarBurger.classList.toggle('is-active');
            navbarMenu.classList.toggle('is-active');
        });
    });
</script>