{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-sm-12 mb-5">
            <div class="card text-center">
                <div class="card-body">

                <h1><strong class="card-title">Your Favourites </strong></h1>
                    <p>Here is a list of the posts you've liked the most!</p>
            </div>
        </div>
    </div>
</div>

    <div class="row">
        {% for post in favourites %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="image-container">
                        {% if "placeholder" in post.featured_image.url %}
                        <a href="{% url 'post_detail' post.slug %}" class="post-link">
                        <img class="card-img-top" alt="placeholder"
                            src="https://64.media.tumblr.com/065df304d20cf9b76071aa58c9f9c251/be1666fd3acc16af-be/s1280x1920/e372e56b5f3094d7e34d2764ba32ce941cbab4ac.jpg">
                        </a>
                        {% else %}
                        <a href="{% url 'post_detail' post.slug %}" class="post-link">
                        <img class="card-img-top" src="{{ post.featured_image.url }}" alt="Post image">
                        </a>
                        {% endif %}
                        <div class="image-flash">
                            <p class="author">Author: {{ post.author }}</p>
                        </div>
                    </div>
                    {% if post.slug %}
                    <a href="{% url 'post_detail' post.slug %}" class="post-link">
                        <h2 class="card-title">{{ post.title }}</h2>
                        <p class="card-text">{{ post.excerpt }}</p>
                    </a>
                    {% else %}
                    <!-- Handle case where slug is empty -->
                    <h2 class="card-title">{{ post.title }}</h2>
                    {% endif %}
                
                    <hr/>
                    <p class="card-text text-muted h6">{{ post.created_on }} <i class="far fa-heart fa-xl"></i>
                        {{ blog.likes }} | {{ post.number_of_likes }}</p>
                </div>
                <!-- add a remove button with a remove class and a data-post-slug attribute -->
                <div id="Favourite-section"><a href="#" class="btn btn-outline-secondary mb-3 ms-3 remove-btn" data-post-slug="{{ post.slug }}">Remove</a>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>

    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %} <!--Loop to iterate through the range of page numbers-->
            <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}<!--For each page number, we check if it's equal to the current page number -->
                <li class="page-item {% if num == page_obj.number %}active{% endif %}"><a href="?page={{ num }}" class="page-link">{{ num }}</a></li>
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
<!--Logic to handle revoming from favourites -->
<script>
    document.querySelectorAll('.remove-btn').forEach(btn => {
        btn.addEventListener('click', function (e) { //when the remove btn class is clicked , displays confirmation.
            e.preventDefault();
            const postSlug = this.getAttribute('data-post-slug');
            if (confirm('Are you sure you want to remove this post from your favourites?')) {
                window.location.href = "{% url 'favourite_add' '__slug__' %}".replace('__slug__', postSlug); // If user confirms, its redirected to the url to remov the post 

            }
        });
    });

</script>

{% endblock %}