{% extends "base.html" %}


{% block head_title %}{% trans "maps" %}

{% block content %}


<div class="container_form_register">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <div class="map_container">
                <script>
                    let map;

                    async function initMap() {
                    // The location of Berlin
                        const position = { lat: -	52.520008, lng: 13.404954 };
                    // Request needed libraries.
                    //@ts-ignore
                        const { Map } = await google.maps.importLibrary("maps");
                        const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");

  // The map, centered at Berlin
                        map = new Map(document.getElementById("map"), {
                            zoom: 4,
                            center: position,
                            mapId: "Findit_Berlin",
                        });

  // The marker, positioned at Berlin
                        const marker = new AdvancedMarkerElement({
                            map: map,
                            position: position,
                            title: "Berlin",
                        });
                    }

initMap();

                </script>

            </div>
        </div>
    </div>
</div> 





{% endblock %}