{% extends 'base.html' %}
{% block content %} 
{% load crispy_forms_tags %} 


              <div class="masthead">
                <div class="container">
                  <div class="row g-0">
                    <div class="col-md-8 masthead-text">
                      <!-- Post title goes in these h1 tags -->
                      <h1>
                        <strong style="text-transform: uppercase"
                          >{{ post.title }}</strong
                        >
                      </h1>
                      <!-- Post author goes before the | the post's created date goes after -->
                      <p class="post-subtitle">
                        {{ post.author }}|{{ post.created_on}}
                      </p>
                    </div>
                    <div class="d-none d-md-block col-md-8 masthead-image">
                      <!-- The featured image URL goes in the src attribute -->
                      {% if "placeholder" in post.featured_image.url %}
                      <img
                        src="https://64.media.tumblr.com/065df304d20cf9b76071aa58c9f9c251/be1666fd3acc16af-be/s1280x1920/e372e56b5f3094d7e34d2764ba32ce941cbab4ac.jpg"
                      >
                      {% else %}
                      <img src=" {{ post.featured_image.url }}" width="100%">
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>

              <div class="container">
                <div class="row">
                  <div class="col card mb-4 mt-3 left top">
                    <div class="card-body">
                      <!-- The post content goes inside the card-text. -->
                      <!-- Use the | safe filter inside the template tags -->
                      <p class="card-text">{{ post.content | safe }} </p>
                     
                      <script>
                        (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
                          key: "AIzaSyAC2jmjjz6VRs6V6VZKCBmvk7WR8ZL3FUo",
                          v: "weekly",
                          // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
                          // Add other bootstrap parameters as needed, using camel case.
                        });
                        let map;

                          async function initMap() {
                            const { Map } = await google.maps.importLibrary("maps");

                              map = new Map(document.getElementById("map"), {
                              center: { lat: -34.397, lng: 150.644 },
                              zoom: 8,
                            });
                          }

                        initMap()
                      </script>
                      
                      </div>


                      <!-- Google Maps integration -->
                      <div id="map" style="height: 400px"></div>
                      <script
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAROz6o_yDQ8681Taxc4Dn7I1hcYABF3Fw&callback=initMap"
                        async
                        defer
                      ></script>
                      <script>
                        function initMap() {
                          var geocoder = new google.maps.Geocoder();

                          geocoder.geocode(
                            {
                              address:
                                "{{ post.location.street_number }} {{ post.location.street_name }}, {{ post.location.city }}",
                            },
                            function (results, status) {
                              if (status == "OK") {
                                var map = new google.maps.Map(
                                  document.getElementById("map"),
                                  {
                                    center: results[0].geometry.location,
                                    zoom: 15,
                                  }
                                );

                                var marker = new google.maps.Marker({
                                  map: map,
                                  position: results[0].geometry.location,
                                  title: "{{ post.title }}",
                                });
                              } else {
                                console.error(
                                  "Geocode was not successful for the following reason: " +
                                    status
                                );
                              }
                            }
                          );
                        }
                      </script>

                      <div class="row">
                        <div class="col-1">
                          
                            {% if user.is_authenticated %}
                            <form
                              class="d-inline"
                              action="{ url 'post_like' post.slug %}"
                              method="POST"
                            >
                              {% csrf_token %} {% if liked %}

                              <button
                                type="submit"
                                name="blogpost_id"
                                value="{{ post.slug }}"
                                class="btn-like"
                              >
                                <i class="fa-regular fa-heart fa-xl" aria-hidden="true"> </i>
                              </button>
                              {% else %}
                              <button
                                type="submit"
                                name="blogpost_id"
                                value="{{ post.slug }}"
                                class="btn-like"
                              >
                                <i class="fa-regular fa-heart fa-xl" aria-hidden="true"> </i>
                              </button>
                              {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"
                              ><i class="fa-regular fa-heart fa-xl"></i
                            ></span>
                            {% endif %}
                            <span class="text-secondary"
                              >{{ post.number_of_likes }}</span
                            >
                          
                        
                        
                          {% with comments.count as total_comments %}
                          <span class="text-secondary"
                            ><i class="fa-regular fa-comment fa-xl"></i> {{ total_comments }}</span>
                          {% endwith %}
                        
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <hr>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8 card mb-4 mt-3">
                    <h3 style="color: #4a4a4a,"><strong>Comments:</strong></h3>
                    <div class="card-body">
                      <!-- We want a for loop inside the tags to iterate through each comment in comments -->
                      {% for comment in comments %}
                      <div class="comments" style="padding: 10px">
                        <p class="font-weight-normal" style="font-weight: bolder;">
                          <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                          {{ comment.author }} wrote:
                        </p>
                        <!-- The body of the comment goes before the | -->
                        {{ comment.body | linebreaks }}
                      </div>
                      <!-- Our for loop ends here -->
                      {% endfor %}
                    </div>
                  </div>
                  <div class="col-md-4 card mb-4 mt-3">
                    <div class="card-body">
                      <!-- For later -->
                      {% if commented %}
                      <div class="alert alert-success" role="alert">
                        Your comment is awaiting approval
                      </div>
                      {% else %} {% if user.is_authenticated %}

                      <h3>Tell us what you think :</h3>
                      <p>Posting as: {{ user.username }}</p>
                      <form method="post" style="margin-top: 1.3em">
                        {% csrf_token %} 
                        {{ comments_form | crispy }}
                        <button type="submit" class="btn btn-signup btn-lg">
                          Say it!
                        </button>
                      </form>
                      {% endif %} {% endif %}
                    </div>
                  </div>
                </div>
              

              {% endblock content %}
