{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Display profile from author of post -->
<div class="masthead">
    <div class="container">
       <div class="row justify-content-center">
          <div class="col-md-8 card mb-5 mt-4">
             <div class="d-flex justify-content-between">
                {% if page_user.profile.profile_pic %}
                <!-- If the user has a profile picture, display it -->
                <img src="{% static 'images/avatar_icon.png' %}" width="100" height="100" class="rounded" style="margin: 4px 4px 4px 10px;">
                {% else %}
                <!-- If the user does not have a profile picture, display a default icon -->
                <img src='{{ page_user.profile_pic.url }}' width="100", height="100" class="rounded"style="margin: 4px 4px 4px 10px;">
                {% endif %}
                <div class="card-body">
                   <div class="card-title">
                      <!-- Display the username of the post author -->
                      <h5 class="card-title">{{ post.author }}</h5>
                      <!-- Display links to the user's Instagram and website, if available -->
                      <p class="small text-muted">
                         {% if page_user.instagram_url %}
                         <a href="{{ post.author.profile.instagram_url }}">Instagram</a> | 
                         {% endif %}
                         {% if page_user.website_url %}
                         <a href="{{ post.author.profile.website_url }}">Website</a> 
                         {% endif %}
                      </p>
                      <!-- Display the user's bio -->
                      <p class="card-text">
                      {{ page_user.bio }}
                      </p>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 
{% endblock %}