{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if searched %}
<!-- Display search results if a search query is provided -->
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-8 masthead-text">
           <!-- Display the search query -->
           <h1 style="margin-bottom: 30px; margin-top: 30px; text-align: center;">You searched for "{{ searched }}"</h1>
        </div>
    </div>

    <div class="row">
        {% for post in searched_posts %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="image-container">
                        {% if "placeholder" in post.featured_image.url %}
                        <a href="{% url 'post_detail' post.slug %}" class="post-link">
                        <img class="card-img-top"
                            src="https://64.media.tumblr.com/065df304d20cf9b76071aa58c9f9c251/be1666fd3acc16af-be/s1280x1920/e372e56b5f3094d7e34d2764ba32ce941cbab4ac.jpg">
                        </a>
                        {% else %}
                        <a href="{% url 'post_detail' post.slug %}" class="post-link">
                        <img class="card-img-top" src="{{ post.featured_image.url }}">
                        </a>
                        {% endif %}
                        <div class="image-flash">
                            <p class="author">Author: {{ post.author }}</p>
                        </div>
                    </div>
                    {% if post.slug %}
                    <a href="{% url 'post_detail' post.slug %}" class="post-link">
                        <h2 class="card-title">{{ post.title }}</h2>
                        <p class="card-text">{{ post.excerpt }}</p>
                    </a>
                    {% else %}
                    <!-- Handle case where slug is empty -->
                    <h2 class="card-title">{{ post.title }}</h2>
                    {% endif %}
                
                    <hr />
                    <p class="card-text text-muted h6">{{ post.created_on }} <i class="far fa-heart fa-xl"></i>
                        {{ blog.likes }} | {{ post.number_of_likes }}</p>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
        {% endif %}
        {% empty %}
        <!-- If no posts are found for the search query, display a message -->
        <div class="col-md-12">
            <h1 style="margin-bottom: 30px; margin-top: 30px; text-align: center;">No results found!</h1>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<!-- Display a message if no search query is provided -->
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-8 masthead-text">
            <h1 style="margin-bottom: 30px; margin-top: 30px; text-align: center;">Hey! You didn't search for anything!</h1>
        </div>
    </div>
</div>
{% endif %}
{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %} <!--Loop to iterate through the range of page numbers-->
        <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}<!--For each page number, we check if it's equal to the current page number -->
            <li class="page-item {% if num == page_obj.number %}active{% endif %}"><a href="?page={{ num }}" class="page-link">{{ num }}</a></li>
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock %}