{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %} 

{% block content %}
<div class="masthead">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 masthead-text">
        
        <h1>( ͡❛ ‿ ͡❛) Hey there {{ user.username }}, Welcome!</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row" style="width: 80%; float: none; margin: 0 auto;">
      <div class="col card mb-4 mt-3 left top">
        <div class="card-body">
          <h3>Here is a list of the posts you've created :</h3>
            <ul class="user-posts-list">
              {% for post in user_posts %}
            <li>
              <a href="{% url 'post_detail' slug=post.slug %}">{{ post.title }}</a>
              <button class="btn btn-outline-danger btn-sm" onclick="confirmDelete('{{ post.slug }}')">Delete</button>
              <button class="btn btn-outline-info btn-sm" onclick="editPost('{{ post.slug }}')">Edit</button>

              <div id="editForm_{{ post.slug }}" style="display: none;">
                <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ edit_form.as_p }}
                  <button type="submit">Submit Edit</button>
                </form>
              </div>

              
            </li>
              {% endfor %}
            </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row" style="width: 80%; float: none; margin: 0 auto;">
      <div class="col card mb-4 mt-3 left top">
          <div class="card-body">
              <h3>Share a New Post:</h3>
              <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit">Submit</button>
              </form>
          </div>
      </div>
    </div>
    <script>
   
   // Add for delete later :

   
  
      function editPost(slug) {
        // Hide all edit forms
        document.querySelectorAll('[id^="editForm_"]').forEach(form => {
          form.style.display = 'none';
        });
  
        // Show the selected edit form
        document.getElementById(`editForm_${slug}`).style.display = 'block';
      }
    </script>
  
  </div>

<!-- styles for this particular template written here in order to over ride bulma bootstrap template, styles not repeated anywhere else -->
<style>
  .user-posts-list {
    list-style: none;
    padding: 0;
    font-size: 20px;
  }

  .user-posts-list li {
    margin-bottom: 8px;
  }

  .user-posts-list li::before {
    content: "•"; 
    color: #4a4a4a;
    margin-right: 8px;
  }
</style>

{% endblock %}

