{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="masthead">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 masthead-text" style="width: 80%; float: none; margin: 0 auto;">
        <div class="col card mb-4 mt-3 left top">
          <h1 style="margin-bottom: 30px; margin-top: 30px; text-align: center;">( ͡❛ ‿ ͡❛) Hey there {{ user.username }}, Welcome!</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row" style="width: 80%; float: none; margin: 0 auto;">
      <div class="col card mb-4 mt-3 left top">
        <div class="card-body">
          <h3>Here is a list of the posts you've created :</h3>
          <p>Access to the list of posts you have created</p>
            <ul class="user-posts-list">
              {% for post in user_posts %}
                <li>
                    <a href="{% url 'post_detail' slug=post.slug %}">{{ post.title}}</a>

                    <button style='margin-left: 20px;' class="btn btn-outline-danger btn-sm" onclick="confirmDelete('{{ post.slug }}')">Delete</button>
                    <button style='margin-left: 5px;' class="btn btn-outline-info btn-sm" onclick="editPost('{{ post.slug }}')">Edit</button>

                    <div id="editForm_{{ post.slug }}" style="display: none;">
                      <form method="post" enctype="multipart/form-data" onsubmit="closeAlert()">
                          {% csrf_token %}
                          
                          {{ edit_form.as_ul | crispy }}

                          
                          <button type="submit">Submit Edit</button>
                      </form>
                      <form id="deleteForm_{{ post.slug }}" action="{% url 'delete_post' post_slug=post.slug %}" method="post" style="display: none;">
                          {% csrf_token %}
                          <input type="hidden" name="post_slug" value="{{ post.slug }}">
                          <button type="submit">Delete</button>
                      </form>
                  </div>
              </li>
          {% endfor %}
            </ul>
        </div>
      </div>
    </div>
  </div>
  

        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row" style="width: 80%; float: none; margin: 0 auto;">
      <div class="col card mb-4 mt-3 left top">
          <div  class="card-body">
              <h3>Share a New Post:</h3>
              <form method="post" enctype="multipart/form-data" action="{% url 'users_post_form' %}">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit">Submit</button>
              </form>
          </div>
      </div>
    </div>
    <script>
      function editPost(slug) {
        console.log('Edit post clicked for slug:', slug);
    
         // Hide all edit forms and close alerts
        document.querySelectorAll('[id^="editForm_"]').forEach(form => {
          form.style.display = 'none';
        });
    
        //Drop down the selected edit form
        var editForm = document.getElementById(`editForm_${slug}`);
        if (editForm.style.display === 'block') {
          editForm.style.display = 'none';
        } else {
          editForm.style.display = 'block';
        }
      }
      //document.getElementById(`editForm_${slug}`).style.display = 'block';
      
    
      // function to close the alert
      function closeAlert() {
        document.querySelectorAll('.alert').forEach(alert => {
          if (!alert.classList.contains('show')) {
            // Only close if the alert is visible
            new bootstrap.Alert(alert).close();
          }
        });
      }
    
      function confirmDelete(slug) {
        if (confirm('Are you sure you want to delete this post?')) {
          document.getElementById(`deleteForm_${slug}`).submit();
        }
      }
    </script>
  
  </div>

<!-- styles for this particular template written here in order to over ride bulma bootstrap template, styles not repeated anywhere else -->
<style>
  .user-posts-list {
    list-style: none;
    padding: 0;
    font-size: 20px;
  }

  .user-posts-list li {
    margin-bottom: 8px;
  }

  .user-posts-list li::before {
    content: "•"; 
    color: #4a4a4a;
    margin-right: 8px;
  }
</style>

{% endblock %}

